
###> symfony/framework-bundle ###
/public/bundles/
/var/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/webpack-encore-pack ###
/public/build/
###< symfony/webpack-encore-pack ###
