{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div id="root"></div>
            </div>
        </div>
    </div>

{% endblock %}
